[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
scipy = "*"
torch = "*"
tensorboard = "*"
matplotlib = "*"
opencc = "*"
transformers = "*"
requests = "*"
tqdm = "*"
patool = "*"
pyunpack = "*"
filelock = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.8"
